.gauge {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  color: var(--K800);

  select {
    width: 70px;
  }

  &__unit {
    font-size: 16px;
    font-weight: 700;
  }

  &__speed {
    padding-top: 4px;
    font-size: 14px;
    font-weight: 700;
  }

  &__bar {
    position: relative;
    display: block;
    width: 100%;
    max-width: 80px;
    height: 6px;

    &__range {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      border-radius: 4px;
      background: var(--K200);
    }

    &__tolerance {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 50%;
      height: 100%;
      transform: translateX(-50%);

      background: var(--status-green);
    }

    &__current {
      position: absolute;
      z-index: 3;
      bottom: 0;

      transform: translateX(-50%) translateY(70%);

      border-left: 6px solid transparent;
      border-right: 6px solid transparent;

      border-bottom: 10px solid var(--K800);
    }
  }

  &--in-range .gauge__speed {
    color: var(--status-green);
  }
  &--out-of-range .gauge__speed {
    color: var(--status-red);
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
