// Gear menu
.gear-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &--no-selection label {
    color: var(--K400);
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;

    &__title {
      margin-right: auto;
      font-size: 20px;
      font-weight: 700;

      .gear-menu--no-selection & {
        font-size: 14px;
        font-weight: 600;
        color: var(--K400);
      }
    }
  }

  &__setting {
    display: flex;
    align-items: center;
    gap: 12px;

    input[type="range"] {
      flex: 1;
    }
  }

  &__hands {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
