.gear-table-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
}

// Table show speed select
.table-select {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  span {
    margin-right: auto;
    font-size: 14px;
    font-weight: 500;
  }

  button {
    &:first-of-type {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    &:last-of-type {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:first-of-type):not(:last-of-type) {
      border-radius: 0;
    }
  }
}

// Gear List
.gear-table {
  border-collapse: collapse;

  width: calc(100% + 12px);
  margin-left: -6px;

  td,
  th {
    padding: 6px;
    font-size: 14px;
    color: K800;

    &:first-child {
      padding-left: 12px;
    }
    &:last-child {
      padding-right: 12px;
    }
  }

  th {
    font-weight: 700;
  }

  .cell-gear-num {
    font-weight: 700;
  }
  .cell-gear-num,
  .cell-gear-teeth,
  .cell-gear-ratio {
    text-align: center;
  }
  .cell-gear-speed,
  .cell-gear-angle {
    text-align: right;
  }
  .cell-gear-speed {
    width: 64px;
  }

  &__row {
    cursor: pointer;
    border-radius: 4px;

    &--current {
      box-shadow: 0 0 0 1px var(--B300);
    }

    &--current,
    &:hover {
      background: rgba(var(--B300-rgb), 0.08);
    }

    svg {
      width: 16px;
      height: 16px;

      path {
        fill: K800;
      }
    }

    &--unlocked {
      svg {
        opacity: 0.2;
      }
    }
  }
}
