// Table show speed select
.table-select {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 6px;
  margin-bottom: 20px;

  span {
    margin-right: auto;
    font-size: 14px;
    font-weight: 500;
    color: white;
  }

  button {
    transition: 0.2s ease background;
    padding: 4px 10px;

    border-radius: 4px;

    font-size: 14px;
    font-weight: 500;
    color: var(--white);
    background: rgba(var(--white-rgb), 0.1);

    &:hover,
    &:disabled {
      background: rgba(var(--white-rgb), 0.4);
    }
  }
}

// Gear List
.gear-table {
  border-collapse: collapse;

  td,
  th {
    padding: 6px;
    font-size: 14px;
    color: white;

    &:first-child {
      padding-left: 12px;
    }
    &:last-child {
      padding-right: 12px;
    }
  }

  th {
    font-weight: 700;
  }

  .cell-gear-num {
    font-weight: 700;
  }
  .cell-gear-num,
  .cell-gear-teeth,
  .cell-gear-ratio {
    text-align: center;
  }
  .cell-gear-speed,
  .cell-gear-angle {
    text-align: right;
  }
  .cell-gear-speed {
    width: 64px;
  }

  &__row {
    cursor: pointer;
    border-radius: 4px;

    &--current {
      box-shadow: 0 0 0 1px rgba(var(--white-rgb), 0.7);
    }

    &--current,
    &:hover {
      background: rgba(var(--white-rgb), 0.12);
    }

    svg {
      width: 16px;
      height: 16px;

      path {
        fill: white;
      }
    }

    &--unlocked {
      svg {
        opacity: 0.2;
      }
    }
  }
}
