// Gear menu
.gear-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 12px 0;

  border-top: 1px solid rgba(var(--white-rgb), 0.2);

  &__header {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 20px;

    &__title {
      margin-right: auto;
      font-size: 20px;
      font-weight: 700;
      color: var(--white);
    }
  }

  // Fixed button
  .gear-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s ease background;
    padding: 8px;

    border-radius: 6px;

    $icon-size: 20px;
    svg {
      transition: 0.25s ease opacity;
      width: $icon-size;
      height: $icon-size;

      path {
        fill: white;
      }
    }

    &--off svg {
      opacity: 0.2;
    }

    &--on {
      background: rgba(var(--white-rgb), 1);

      svg path {
        fill: var(--B600);
      }
    }

    &:hover {
      background: rgba(var(--white-rgb), 0.3);
    }
    &--off:hover svg {
      opacity: 1;
    }
  }

  &__setting {
    display: flex;
    align-items: center;
    gap: 12px;

    span {
      width: 90px;
      color: white;
      font-weight: 600;
    }

    input[type="range"] {
      flex: 1;
    }
  }

  &__shift {
    display: flex;
    gap: 12px;
    margin-top: 20px;
  }
}
