.menu {
  overflow-y: auto;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  // Title
  .menu-title {
    display: flex;
    align-items: center;
    gap: 20px;

    &__text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      line-height: 1.1;

      h1 {
        font-size: 22px;
        color: var(--B300);
        font-weight: 700;
      }

      a {
        transition: 0.2s ease color;
        font-size: 14px;
        color: var(--K500);
        text-decoration: none;

        &:hover {
          color: var(--B500);
        }
      }
    }

    .toggle-menu-button {
      width: 100px;
    }
  }

  // Sections
  &__section {
    display: flex;
    flex-direction: column;
    padding: 20px;

    border-top: 1px solid var(--K150);

    .menu--hide & {
      display: none;
    }
  }

  .save-load {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__buttons {
      display: flex;
      gap: 12px;

      button {
        flex: 1;
      }
    }
  }

  // Hands Guages
  &__gauges {
    display: flex;

    input[type="number"] {
      width: 80px;
    }
  }

  // Tolerance
  &__tolerance {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 12px;
    margin-top: 20px;

    span {
      font-size: 16px;
      font-weight: 600;
      color: var(--K800);
      text-align: center;
    }
  }

  // Speed controls
  &__speed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6px;

    &__type {
      display: flex;

      button:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      button:last-child {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    // RPM
    &__rpm {
      display: flex;
      align-items: center;
      gap: 12px;

      span {
        font-size: 16px;
        font-weight: 700;
        color: var(--K800);
      }
    }
  }
}

.gear-actions {
  display: flex;
  gap: 12px;
  margin: 0 0 20px;
}

.add-gear-button {
  margin-bottom: 20px;
}
