.menu {
  overflow-y: auto;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  // Title
  &__title {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 12px;

    &__text {
      flex: 1;
      line-height: 1.1;

      h1 {
        font-size: 28px;
        color: var(--white);
        font-weight: 500;
        letter-spacing: 0.5px;
      }

      a {
        transition: 0.2s ease color;
        font-size: 14px;
        color: rgba(var(--white-rgb), 0.6);
        text-decoration: none;

        &:hover {
          color: var(--white);
        }
      }
    }

    .toggle-menu-button {
      transition: 0.2s ease background;
      width: 100px;
      padding: 8px;

      border-radius: 4px;
      background: rgba(var(--white-rgb), 0.1);
      box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);

      color: white;
      font-size: 14px;
      font-weight: 600;

      &:hover {
        background: rgba(var(--white-rgb), 0.3);
      }
    }
  }

  // Sections
  &__section {
    display: flex;
    flex-direction: column;
    padding: 20px 12px;

    border-top: 1px solid rgba(var(--white-rgb), 0.2);

    .menu--hide & {
      display: none;
    }
  }

  .save-load {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__buttons {
      display: flex;
      gap: 12px;

      button {
        flex: 1;
      }
    }
  }

  // Hands Guages
  &__gauges {
    display: flex;

    input[type="number"] {
      width: 80px;
    }
  }

  // Tolerance
  &__tolerance {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 12px;
    margin-top: 20px;

    span {
      font-size: 16px;
      font-weight: 600;
      color: var(--white);
      text-align: center;
    }
  }

  // Speed controls
  &__speed {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0 6px;

    &__type {
      display: flex;
      border-radius: 6px;
      overflow: hidden;
    }

    .movement-button {
      transition: 0.25s ease all;
      transition-property: background, border-color;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;

      background: rgba(var(--white-rgb), 0.15);

      &--pause {
        border-radius: 6px;
      }

      svg {
        width: 24px;
        height: 24px;

        path {
          fill: var(--white);
        }
      }

      &:hover {
        background: rgba(var(--white-rgb), 0.4);
      }

      &:disabled {
        cursor: default;
        background: rgba(var(--white-rgb), 1);

        svg path {
          fill: var(--B300);
        }
      }
    }

    // RPM
    &__rpm {
      display: flex;
      align-items: center;
      gap: 12px;

      span {
        font-size: 16px;
        font-weight: 700;
        color: var(--white);
      }
    }
  }
}

.gear-actions {
  display: flex;
  gap: 12px;
  margin: 0 0 20px;
}

.menu-button {
  transition: 0.25s ease background;
  outline: none;

  border-radius: 4px;
  background: rgba(var(--white-rgb), 0.1);

  padding: 12px;

  font-size: 14px;
  font-weight: 600;
  color: var(--white);

  &:hover {
    background: rgba(var(--white-rgb), 0.3);
  }

  &--add-gear {
    margin-bottom: 20px;
  }
}
