.speed-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__clock {
    display: none;
    position: relative;
    width: 120px;
    aspect-ratio: 1;
    flex-shrink: 0;

    border-radius: 50%;
    border: 6px solid var(--K300);
    background: var(--K100);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1),
      inset 0 0 10px rgba(0, 0, 0, 0.06), 1px 2px 6px rgba(0, 0, 0, 0.06),
      2px 4px 20px rgba(0, 0, 0, 0.06);

    .rc-hand {
      position: absolute;
      left: 50%;
      margin-left: -6px;
      width: 12px;

      animation-name: spin;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        aspect-ratio: 1;

        border-radius: 50%;
        background: var(--K700);
      }

      &--hours {
        top: 15%;
        height: 70%;

        &::before {
          width: 6px;
        }
      }
      &--minutes {
        top: 8%;
        height: 84%;

        &::before {
          width: 6px;
        }
      }
    }
    .c-rate-hours {
      animation-duration: 12 * 60 * 60s;
    }
    .c-rate-minutes {
      animation-duration: 60 * 60s;
    }
    .c-rate-seconds {
      animation-duration: 60s;
    }

    .gc-hand {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;

      &__svg {
        position: absolute;
        width: 100%;
        height: 100%;

        animation-name: spin;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      svg {
        display: block;
        width: 100%;
        height: 100%;

        path {
          fill: var(--K700);
        }
      }
    }
  }

  &__right {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // gap: 12px;

    &__buttons {
      display: flex;

      & > button:first-child {
        margin-right: 12px;
      }
    }

    &__rpm {
      display: flex;
      align-items: center;
      gap: 12px;

      input {
        flex: 1;
      }
    }
  }
}
