.gear-wrap {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  aspect-ratio: 1;

  &--selected {
    z-index: 999;
  }

  .canvas--pendulum & {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.68, -0.42, 0.76, 0.54);
  }

  .disable-animations & {
    transition-property: none;
  }
}

.gear {
  position: relative;
  z-index: 1;
  display: block;
  animation-iteration-count: infinite;

  .canvas--smooth & {
    animation-name: spin;
    animation-timing-function: linear;
  }
  .disable-animations &,
  .canvas--paused.canvas--smooth & {
    animation-play-state: paused;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .gear-shape {
    cursor: pointer;
    pointer-events: all;
    transition: 0.1s ease fill;
    fill: rgba(var(--B400-rgb), 0.8);
    stroke: rgba(var(--white-rgb), 0.6);
    stroke-linejoin: round;
    stroke-width: 1;

    &:hover {
      fill: rgba(var(--white-rgb), 0.2);
    }
  }

  // selected
  &--selected .gear-shape {
    stroke-width: 2;
    stroke: white;
    fill: rgba(var(--white-rgb), 0.3);
  }

  .gear-center {
    pointer-events: none;
    fill: none;
    stroke: rgba(0, 0, 0, 0.2);
    stroke-linejoin: round;
    stroke-width: 1;
  }

  .gear-indicator {
    pointer-events: none;
    fill: rgba(255, 255, 255, 0.8);
    stroke-linejoin: round;
    stroke-width: 1;
  }

  .gear-textpath {
    pointer-events: none;
    fill: none;
  }
  .gear-text {
    user-select: none;
    pointer-events: none;
    transform: rotate(90deg);
    transform-origin: center center;
    font-family: var(--font);
    font-weight: 300;
    fill: rgba(255, 255, 255, 0.3);
  }

  .gear-pitch {
    pointer-events: none;
    stroke: rgba(0, 0, 0, 0.2);
  }
  &--escapement {
    .gear-pitch,
    .gear-center {
      display: none;
    }
  }

  .clock-hand {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 400px;
    aspect-ratio: 1;
    transform: translateX(-50%) translateY(-50%);

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      fill: white;
    }
  }
}

.pendulum {
  position: absolute;
  z-index: 1;
  $width: 600px;
  $height: 300px;
  $aspectRatio: $width/$height;
  $weightSize: 20%;

  $barWidth: 4%;
  $pendulumHeight: 500%;

  $partFill: var(--B600);
  $partBorderColor: rgba(var(--white-rgb), 0.5);
  $partBorderWidth: 1;

  width: 100px;
  aspect-ratio: $aspectRatio;

  transform: translateX(-50%);

  &__assembly {
    transform-origin: 50% 21%;
    transition-timing-function: ease-in-out;

    &__bar {
      position: absolute;
      z-index: 1;
      width: $barWidth;
      height: $pendulumHeight;
      top: 0;
      left: 50% - $barWidth / 2;
    }

    &__weight {
      position: absolute;
      z-index: 2;
      top: $pendulumHeight - $weightSize;
      left: 50% - $weightSize/2;
      width: $weightSize;
      aspect-ratio: 1;

      border-radius: 50%;
    }

    &__bar,
    &__weight {
      border: #{$partBorderWidth}px solid $partBorderColor;
      background: $partFill;
    }

    svg {
      position: relative;
      z-index: 3;
      width: 100%;
      height: auto;
      aspect-ratio: $aspectRatio;

      stroke-linejoin: round;
      stroke: $partBorderColor;
      stroke-width: $partBorderWidth * 2;
      fill: $partFill;
    }
  }
}
