.gear-wrap {
  position: absolute;
  pointer-events: none;

  &--selected {
    z-index: 999;
  }

  .canvas--pendulum & {
    transition: 1s ease-in-out transform;
    transition-timing-function: cubic-bezier(0.07, 1.71, 0.56, 0.86);
  }
}

.gear {
  display: block;

  animation-iteration-count: infinite;

  .canvas--paused & {
    animation-play-state: paused;
  }
  .canvas--smooth & {
    animation-name: spin;
    animation-timing-function: linear;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes pendulum {
    to {
      transform: rotate(60deg);
    }
  }

  .gear-shape {
    cursor: pointer;
    pointer-events: all;
    transition: 0.1s ease fill;
    fill: rgba(var(--B400-rgb), 0.8);
    stroke: rgba(255, 255, 255, 0.6);
    stroke-linejoin: round;
    stroke-width: 1;

    &:hover {
      fill: rgba(var(--white-rgb), 0.2);
    }
  }

  // selected
  &--selected .gear-shape {
    stroke-width: 2;
    stroke: white;
    fill: rgba(var(--white-rgb), 0.3);
  }

  .gear-center {
    pointer-events: none;
    fill: none;
    stroke: rgba(0, 0, 0, 0.2);
    stroke-linejoin: round;
    stroke-width: 1;
  }

  .gear-indicator {
    pointer-events: none;
    fill: rgba(255, 255, 255, 0.8);
    stroke-linejoin: round;
    stroke-width: 1;
  }

  .gear-textpath {
    pointer-events: none;
    fill: none;
  }
  .gear-text {
    user-select: none;
    pointer-events: none;
    transform: rotate(90deg);
    transform-origin: center center;
    font-family: var(--font);
    font-weight: 300;
    fill: rgba(255, 255, 255, 0.3);
  }

  .gear-pitch {
    pointer-events: none;
    stroke: rgba(0, 0, 0, 0.2);
  }
}
