.clock-hand {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  aspect-ratio: 1;
  transform: translateX(-50%) translateY(-50%);

  svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: white;
  }

  .canvas--pendulum & {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.68, -0.42, 0.76, 0.54);
  }

  body:not(.disable-animations) &,
  .disable-animations & {
    transition-property: none;
  }

  .hand {
    display: block;
    width: 100%;
    height: 100%;
    animation-iteration-count: infinite;

    .canvas--smooth & {
      animation-name: spin;
      animation-timing-function: linear;
    }
    .disable-animations &,
    .canvas--paused.canvas--smooth & {
      animation-play-state: paused;
    }
  }
}
