@mixin inputProps {
  height: 38px;
  font-size: 14px;
  font-weight: 600;
  color: var(--K800);
}

@mixin inputStyle {
  cursor: pointer;
  transition: 0.2s ease all;

  border-radius: 4px;
  border: 1px solid var(--K300);
  background: var(--white);

  &:hover {
    border: 1px solid var(--K500);
    box-shadow: 0 0 4px var(--K300);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(var(--B500-rgb), 0.3);
  }
}

// Number
input[type="number"] {
  @include inputProps;
  @include inputStyle;

  width: 70px;
  padding: 0 10px;

  text-align: center;
}

// Select
select {
  @include inputProps;
  @include inputStyle;

  padding: 0 10px;
}

// Button
.ci-button {
  $iconSize: 24px;
  $paddingSize: 8px;

  transition: 0.2s ease background;

  padding: $paddingSize;

  border-radius: 6px;
  background: var(--K150);

  color: var(--K800);
  font-size: 14px;
  font-weight: 600;

  &--small {
    padding: 4px 10;
    font-size: 14px;
    font-weight: 500;
  }

  &--icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $iconSize + $paddingSize * 2;
  }

  svg {
    width: $iconSize;
    height: $iconSize;

    path {
      fill: var(--K800);
    }
  }

  &:hover {
    background: var(--K300);
  }

  &:disabled {
    cursor: default;
    color: var(--K300);
    background: var(--K100);

    svg path {
      fill: var(--K300);
    }
  }

  &--selected,
  &--selected:disabled {
    background: var(--B300);
    color: var(--white);

    svg path {
      fill: var(--white);
    }
  }

  &--selected:not(:disabled):hover {
    background: var(--B600);
  }
}

// Range Slider
input[type="range"] {
  appearance: none;
  transition: 0.2s ease all;

  min-width: 50px;
  height: 6px;
  margin: 14px 0;

  border-radius: 2px;
  border: 1px solid var(--K300);
  background: var(--K200);

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      border-color: var(--K500);
      background: var(--K200);
    }
  }

  &:disabled {
    border-color: var(--K150);
    background: var(--K150);
  }
}

@mixin slider-thumb {
  $size: 14px;
  cursor: grab;

  appearance: none;
  transition: 0.2s ease all;
  width: $size;
  height: $size;

  border-radius: 50%;
  background: var(--B300);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]::-webkit-slider-thumb {
  @include slider-thumb;
}

input[type="range"]::-moz-range-thumb {
  @include slider-thumb;
}
input[type="range"]:disabled::-webkit-slider-thumb {
  display: none;
}
input[type="range"]:disabled::-moz-slider-thumb {
  display: none;
}
