@mixin inputProps {
  height: 38px;
  font-size: 18px;
  font-weight: 700;
  padding: 0 8px;
}

// Number
input[type="number"] {
  transition: 0.1s ease border;
  @include inputProps;

  transition: 0.25s ease border;
  width: 70px;

  border-radius: 2px;
  border: 1px solid rgba(var(--black-rgb), 0.2);
  background: rgba(var(--black-rgb), 0.2);

  color: white;
  text-align: center;

  &:hover {
    border-color: rgba(var(--white-rgb), 0.6);
  }

  &:focus {
    outline: none;
    border-color: rgba(var(--white-rgb), 0.9);
  }
}

// Select
select {
  @include inputProps;
  transition: 0.1s ease border;
  cursor: pointer;

  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);

  color: var(--white);

  &:hover {
    border-color: rgba(var(--white-rgb), 0.6);
  }

  * {
    background: white;
    color: black;
  }
}

// Range Slider
input[type="range"] {
  transition: 0.2s ease background;
  appearance: none;

  min-width: 50px;
  height: 6px;
  margin: 14px 0;

  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.2);

  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      border-color: rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.4);
    }
  }
}

@mixin slider-thumb {
  $size: 14px;
  cursor: grab;

  appearance: none;
  transition: 0.2s ease all;
  width: $size;
  height: $size;

  border-radius: 50%;
  background: var(--white);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="range"]::-webkit-slider-thumb {
  @include slider-thumb;
}

input[type="range"]::-moz-range-thumb {
  @include slider-thumb;
}
input[type="range"]:disabled::-webkit-slider-thumb {
  display: none;
}
input[type="range"]:disabled::-moz-slider-thumb {
  display: none;
}
