.canvas-wrap {
  width: 100vw;
  height: 100vh;
}

.canvas {
  position: relative;
  z-index: 1;
  cursor: grab;

  border: 30px solid var(--B300);
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.15), 2px 4px 40px rgba(0, 0, 0, 0.15);

  $gridUnit: 10px;
  $lines: rgba(255, 255, 255, 0.08);
  $linesLarge: rgba(255, 255, 255, 0.11);

  background-color: var(--B300);

  // vertical lines, horizontal lines; large vertical lines, large horizontal lines
  background-image: linear-gradient(to right, $lines 1px, transparent 1px),
    linear-gradient(to bottom, $lines 1px, transparent 1px),
    linear-gradient(to right, $linesLarge 1px, transparent 1px),
    linear-gradient(to bottom, $linesLarge 1px, transparent 1px);

  background-size: $gridUnit $gridUnit, $gridUnit $gridUnit,
    $gridUnit * 10 $gridUnit * 10, $gridUnit * 10 $gridUnit * 10;
}

.canvas-actions {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  padding: 0 12px 12px 0;

  &:before {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    bottom: 0;
    right: 0;
    width: 400%;
    height: 400%;

    border-radius: 50%;

    background: radial-gradient(
      rgba(var(--B500-rgb), 0.4) 0%,
      rgba(var(--B500-rgb), 0) 60%
    );

    transform: translateX(50%) translateY(50%);
  }

  button {
    transition: 0.2s ease background;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;

    border-radius: 6px;

    svg {
      width: 32px;
      height: 32px;
      path {
        fill: var(--white);
      }
    }

    &:hover {
      background: rgba(var(--white-rgb), 0.2);
    }
  }
}
